@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansLight.otf') format('opentype'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansMedium.otf') format('opentype'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansBold.otf') format('opentype'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/GmarketSans/GmarketSansBold.ttf') format('truetype');
}

@layer base {
  body {
    font-family: Gmarket Sans;
    font-weight: 500;
    background-color: #f6f8fa;
  }

  button[aria-current='page'] {
    @apply bg-[#14532d] font-bold rounded-[30px] text-white px-[12px] py-[4px];
  }
}

@layer components {
  .postEach {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #1e0e77;
    padding: 10px;
  }

  .postBox {
    width: 70vw;
    height: 80vh;
    background-color: #dadada;
    padding: 30px;
    border-radius: 20px;
  }

  .mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textareaCss {
    width: 100%;
    height: 150px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 16px;
    resize: both;
    background-color: #4c816b;
    resize: none;
    color: #ffffff;
  }

  .textareaCss:focus {
    outline: 3px solid #ffc95e;
  }

  .commentEach {
    border-top: 1px solid #14532da8;
    padding: 25px 0 25px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .pdfviewer {
    border: 3px solid #14532d;
    border-radius: 20px;
  }

  .pdfviewer::-webkit-scrollbar {
    width: 20px;
    height: 14px;
  }

  .pdfviewer::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
  }

  .pdfviewer::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid #ffffff;
    background-color: #14532d;
  }

  .textareaCss::-webkit-scrollbar {
    width: 20px;
    height: 14px;
  }

  .textareaCss::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
  }

  .textareaCss::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid #14532d;
    background-color: #14532d;
  }

  
}
